NEXTAUTH_URL=https://postly-ai.vercel.app
NEXTAUTH_SECRET="SbRLD9NhoDZZmYPFbXwo+uIqEFCR6NleyZ/SV80d5Fo="

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.qulrkfrgvugopqqvbdmo:Smart222Lorvens@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.qulrkfrgvugopqqvbdmo:Smart222Lorvens@aws-1-us-east-2.pooler.supabase.com:5432/postgres"

